<article class="post">
  <div class="title">
    Posts
    {{title}}
    <span>{{content}}</span>
  </div>
  <div class="meta">
    {{likeVote_count}} {{format_plural "point" likeVote_count}} by {{user.username}} on
    {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>